

.event-container{
    width: 50%;
    margin: 0 auto;
}

.event-text{
    max-width: 85%;
    font-size: 1.5rem;
    margin: 5% auto 10%;
}

.buttons-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    }

.event-button{
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid;
    margin: 1rem;
}

.input-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.answer-button{
    min-width: 60%;
    margin: 0 !important;
    padding: 0;
}

.event-button:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

@media screen and (max-width: 1100px){

    .event-container{
        width: 70%;
    }
}

@media screen and (max-width: 1000px){

    .buttons-container{
        width: 100%;
    }

}

@media screen and (max-width: 800px){

    .buttons-container{
        width: 100%;
        align-items: center;
        display: grid;
    }
    .event-button{
        width: 100%;
    }
}


.event-frame{
    border: 39px ridge #3e5ac2;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(65,49,93,0.5) 100%);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 3rem;
}

.integrated-event-text{
    font-size: 2rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}