
.login-register-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.login-register-container p {
    font-size: 3rem;
    margin: 0;
}


.big-icon {
    font-size: 13rem;
}

.item-container {
    text-align: center;
}

.skip-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skip-btn i {
    font-size: 4rem;

}

.skip-btn p {
    font-size: 2.5rem;
    margin: 0;
}

.register-container{
    width: 50%;
    margin: 0 auto;
    justify-content: end;
    margin-top: 10rem;

}


.item-container{
    cursor: pointer;
}


