
.login-register-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.login-register-container p {
    font-size: 3rem;
    margin: 0;
}


.big-icon {
    font-size: 13rem;
}

.item-container {
    text-align: center;
}


.register-container{
    width: 50%;
    margin: 0 auto;
    justify-content: end;
    margin-top: 10rem;

}


.item-container{
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .main-heading{
        font-size: 2.3rem; 
    }
    .login-register-container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .big-icon{
        font-size: 10rem;
    }
    
    .item-container p{
        font-size: 2rem;
    }
}