.icon-grid{
    text-align: center;
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.5rem;
}


.icon{
    max-width: 10rem;
    height: auto;
    transition: transform .1s ease-in-out;
}

.icon:hover{
    transform: scale(1.05);
    cursor: pointer;
}
