.icon-frame{
    max-width: 55%;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.3 );
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.menu-frame{
    margin-top:15%;
}

.icon-grid{
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

}

.icon{
    width: 10rem;
    height: auto;
    transition: transform .1s ease-in-out;
}

.icon:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.right-aligned{
    float: right;
    width: 70%;
}

.left-aligned{
    float: left;
    width: 15%;
}
.bell-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell:active{
    color: #ff001b;
}

.bell{
    margin: 0 auto;
    max-width: 4rem;

}

.bell::after{
    content: attr(data-count);
    position: absolute;
    top: -0.2em;
    right: -0.3em;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(239,39,39,0.8);
    color: white;
    font-family: Sylfaen, serif;

}

@media screen and (max-width: 1150px){
    .icon{
        width: 8rem;
    }
}


@media screen and (max-width: 1000px){
    .sidebar{
        display: none;
    }
    .settings-btn{
        display: block;
    }
    .profile-btn{
        display: block;
    }
}



@media screen and (max-width: 950px){
    .icon-frame{
        max-width: 70%;
    }
    .icon-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .icon{
        width: 8rem;
    }
}

@media screen and (max-width: 650px){
    .icon-frame{
        max-width: 50%;
        margin-top: 5rem;
    }
    .icon-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .icon{
        width: 7rem;
    }
}



.animated-notification-enter{
    transform: translateY(-350px);
}

.animated-notification-enter-active{
    transform: translateY(0px);
    transition: all 500ms ease-in;
}

.animated-notification-exit {
    opacity: 1;
}


.animated-notification-exit-active {
    transform: translateY(-350px);
    transition: all 500ms ease-in;
}