
.profile-container{
    background: var(--secondary-bg-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.profile-picture{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    box-shadow: 0.03rem 0.7rem 1rem 0.03rem rgba(0, 0, 0, 0.2);
}


.profile-picture-container{
    width: 100%;
    margin: 3.5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-btn-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.change-picture-btn{
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.change-picture-btn:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.profile-name{
    font-size: 2rem;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

.profile-mode-btn{
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .2rem;
}

.profile-mode-btn:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.stats-container{
    width: 90%;
}

.log-in-button {
    border-top: 1px solid #bde6ff;
    background: #1d5982;
    background: -webkit-gradient(linear, left top, left bottom, from(#03121c), to(#1d5982));
    background: -moz-linear-gradient(top, #03121c, #1d5982);
    padding: 7.5px 15px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-decoration: none;
    vertical-align: middle;
    cursor:pointer;
}
.log-in-button:hover {
    border-top-color: #153245;
    background: #153245;
    color: #cfcfcf;
}
.log-in-button:active {
    border-top-color: #4c91bf;
    background: #4c91bf;
}


@media screen and (max-width: 450px) {
    .profile-picture{
        width: 10rem;
        height: 10rem;
    }
    .profile-name{
        font-size: 1.5rem;
    }
}