.animated-positive-enter{
    transform: translateY(-500px);
}

.animated-positive-enter-active{
    transform: translateY(0px);
    transition: all 400ms ease-in-out;
}

.animated-positive-exit {
    opacity: 1;
}


.animated-positive-exit-active {
    transform: translateY(+500px);
    transition: all 400ms ease-in-out;
}


.thumb-btn{
    font-size: 5rem;
    top: 70%;
}