.sidebar{
   position: fixed;
   top: 10%;
   width: 20%;
   height: 80%;
   background:var(--secondary-bg-color);
   max-width: 30rem;
   translate: transform 300ms ease-out;

}

.profile-sidebar{
   left: 0;
   border-radius: 0 1rem 1rem 0;
}

.settings-sidebar{
   right: 0;
   border-radius: 1rem 0 0 1rem;
}


