

.file-name {
    margin: 0 1rem 0;
    padding: 0;
    font-size: 1.2rem;
}

hr {
    padding: 0;
    margin: 0;
    border: 1px solid rgb(124, 124, 124);
}

.welcome-text {
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
}

.welcome-text p{
    font-size: 1.2rem;
}

.begin-button {
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 10px;
    float: right;
    margin: 1rem;
    background-color: transparent;
}


.begin-button:hover{
    cursor: pointer;
    background-color: lightgray;
}

