@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,600&display=swap');

:root {
    --main-bg-color: linear-gradient(#141e30, #243b55);
    --secondary-bg-color: linear-gradient(#23374c, #32538c);
    --text-color: #fff;
    /*--second-theme-gradient: linear-gradient(150deg, rgba(98,43,140,1) 0%, rgba(94,99,182,1) 50%, rgba(178,147,235,1) 100%);*/
    --third-theme-gradient: linear-gradient(0deg, #4b6cb7 0%, #182848 100%);
    --fourth-theme-gradient: linear-gradient(to top, #09203f 0%, #537895 100%);
    --background-by-mares: linear-gradient(150deg,rgba(47, 109, 155, 1),rgba(62, 50, 136, 1),rgba(47, 109, 155, 1));
    --sidebar-by-mares: linear-gradient(300deg,rgba(78, 80, 85, 1)0%,rgba(32, 19, 69, 0.8)100%);
    --special: linear-gradient(150deg,#336d9b,#3e3288,#394b78,#336d9b,#3e3288);

}

.animated-gradient {
    animation: animateBg 16s linear infinite;
    background-image: var(--special);
    background-size: 600% 100%;
}
@keyframes animateBg {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}




html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}


body{
    margin: 0;
    padding: 0;
    background: var(--background-by-mares);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
}


.container{
    width: 95%;
    margin: 0 auto;
    max-width: 2300px;
}

.main-heading{
    font-size: 3.5rem;
}

.centered{
    text-align: center;
}

.icon-btn{
    position: absolute;
    top: 0;
    margin: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.settings-btn{
    display: none;
    right: 0;
}

.profile-btn{
    display:none;
    left: 0;
}


a{
    color: var(--text-color);
}


.modal-background{ 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
}

.transparent{
    background-color: transparent;
}


.exit-btn{
    float: right;
    font-size: 3rem;
    cursor: pointer;
}

.exit-btn:hover{
    color: red;
}

.modal-heading{
    margin: 0;
    padding-bottom: 2rem;
}


.skip-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.skip-btn i {
    font-size: 4rem;

}

.skip-btn p {
    font-size: 2.5rem;
    margin: 0;
}

.link{
    text-decoration: none;
}

.back-btn-container{
    text-align: center;
    width: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}


.back-btn{
    width: 3rem;
    left: 0;
    margin: 1rem;
}

/*
.back-btn:hover{
    cursor: pointer;
    color: #616562;
}
*/

i:hover{
    cursor: pointer;
    color: #aeaeae;
}

.modal{
    background: var(--secondary-bg-color);
}

.animated-modal-enter{
    opacity: 0;
    transform: scale(0.9);
}

.animated-modal-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.animated-modal-exit{
    opacity: 1;
}

.animated-modal-exit-active{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.d-none{
    display: none;
}

.margin-top{
    margin-top: 5%;
}
